.st0{
    display:none;
}
.st1{
    fill:#C1D8DF;
    stroke:#000000;
    stroke-width:7;
    stroke-miterlimit:10;
}
.st2{
    fill:#A7C3C9;
    stroke:#000000;
    stroke-width:7;
    stroke-miterlimit:10;
}
.st3{
    stroke:#000000;
    stroke-width:7;
    stroke-miterlimit:10;
}
.st4{
    fill:#2D2D2D;
    stroke:#000000;
    stroke-width:4;
    stroke-miterlimit:10;
}
.Manatee-style{
    enable-background:new 0 0 595.28 841.89;
}
.Manatee-img {
    display:inline;overflow:visible;
}
